/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

/* Estilos para las celdas de la tabla */
th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

/* Estilos para las filas impares */
tr:nth-child(odd) {
    background-color: #f2f2f2;
}

/* Estilos para las celdas de encabezado */
th {
    background-color: darkcyan;
    color: #fff;
    font-weight: bold;
}

/* Estilos para las celdas de datos */
td {
    font-size: 16px;
}

/* Estilos para las celdas de datos de tipo sangre */
td.tipo-sangre {
    font-weight: bold;
    color: #ff0000; /* Color rojo para tipo de sangre */
}
